@import "tailwindcss";

@theme {
  /* No v4, garantimos que as cores existam se o gradiente falhar */
  --color-blue-400: #60a5fa;
  --color-emerald-400: #34d399;
}

/* Camada base para garantir que o fundo do app ocupe a tela toda */
@layer base {
  body {
    @apply bg-slate-950 text-slate-50;
  }
}